.result {
    font-size: 1em;
    font-weight: 500;
}

.normal {
    color: black;
}

.passed {
    color: green;
}

.failed {
    color: red;
}

.details {
    font-size: 0.7em;
}

p.details {
    margin: 0;
    margin-left: 30px;
}

p {
    margin-bottom: 0;
    margin-left: 20px;
}

.hidden {
    display: none;
}

h3:hover {
    text-decoration: underline;
    cursor: pointer;
}